TransportDepot.CommissionsExecutor/Service References/CommissionsReference/Payables.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TransportDepot.Models.Payables.Commissions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TransportDepot.Models.Payables.Commissions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInvoiceCommission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoiceCommission" nillable="true" type="tns:InvoiceCommission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoiceCommission" nillable="true" type="tns:ArrayOfInvoiceCommission" />
  <xs:complexType name="InvoiceCommission">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InvoiceAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Percent" type="xs:decimal" />
      <xs:element minOccurs="0" name="TractorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TripNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvoiceCommission" nillable="true" type="tns:InvoiceCommission" />
  <xs:complexType name="ArrayOfCommissionRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommissionRequest" nillable="true" type="tns:CommissionRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommissionRequest" nillable="true" type="tns:ArrayOfCommissionRequest" />
  <xs:complexType name="CommissionRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OffDutySpans" nillable="true" type="tns:ArrayOfSpan" />
      <xs:element minOccurs="0" name="Trips" nillable="true" type="tns:ArrayOfTripSpan" />
      <xs:element minOccurs="0" name="VendorType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommissionRequest" nillable="true" type="tns:CommissionRequest" />
  <xs:complexType name="ArrayOfSpan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Span" nillable="true" type="tns:Span" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpan" nillable="true" type="tns:ArrayOfSpan" />
  <xs:complexType name="Span">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndLocation" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="PreviousSpan" nillable="true" type="tns:Span" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartLocation" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="TractorId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Span" nillable="true" type="tns:Span" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="ArrayOfTripSpan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TripSpan" nillable="true" type="tns:TripSpan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTripSpan" nillable="true" type="tns:ArrayOfTripSpan" />
  <xs:complexType name="TripSpan">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Span">
        <xs:sequence>
          <xs:element minOccurs="0" name="InvoiceAmout" type="xs:decimal" />
          <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TractorHome" nillable="true" type="tns:Location" />
          <xs:element minOccurs="0" name="TripNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TripSpan" nillable="true" type="tns:TripSpan" />
  <xs:complexType name="ArrayOfCommissionCandidate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommissionCandidate" nillable="true" type="tns:CommissionCandidate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommissionCandidate" nillable="true" type="tns:ArrayOfCommissionCandidate" />
  <xs:complexType name="CommissionCandidate">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndLocatioin" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="InvoiceAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartLocation" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="TractorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TripNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommissionCandidate" nillable="true" type="tns:CommissionCandidate" />
</xs:schema>