WebPayments/App_WebReferences/AutomaticDeductionsService/AutomaticDeductionsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Transport_Depot_AutomaticDeductions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Transport_Depot_AutomaticDeductions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://netgateway/Settlements/AutomaticDeductionsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ChangeCommissionLogicModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CommissionRates" nillable="true" type="q1:ArrayOfdecimal" />
      <xs:element minOccurs="0" name="Deductions" nillable="true" type="tns:ArrayOfChangeCommission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangeCommissionLogicModel" nillable="true" type="tns:ChangeCommissionLogicModel" />
  <xs:complexType name="ArrayOfChangeCommission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChangeCommission" nillable="true" type="tns:ChangeCommission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChangeCommission" nillable="true" type="tns:ArrayOfChangeCommission" />
  <xs:complexType name="ChangeCommission">
    <xs:sequence>
      <xs:element minOccurs="0" name="CargoInsurance" type="xs:decimal" />
      <xs:element minOccurs="0" name="ChangeCommissionDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="Commission" type="xs:decimal" />
      <xs:element minOccurs="0" name="LessorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiabilityInsurance" type="xs:decimal" />
      <xs:element minOccurs="0" name="TripNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangeCommission" nillable="true" type="tns:ChangeCommission" />
  <xs:complexType name="LessorDefaults">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cargo" type="xs:decimal" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CargoRates" nillable="true" type="q2:ArrayOfdecimal" />
      <xs:element minOccurs="0" name="Commission" type="xs:decimal" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CommissionRates" nillable="true" type="q3:ArrayOfdecimal" />
      <xs:element minOccurs="0" name="LessorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Liability" type="xs:decimal" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LiabilityRates" nillable="true" type="q4:ArrayOfdecimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LessorDefaults" nillable="true" type="tns:LessorDefaults" />
  <xs:complexType name="ArrayOfDefaultTypeAndValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DefaultTypeAndValue" nillable="true" type="tns:DefaultTypeAndValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDefaultTypeAndValue" nillable="true" type="tns:ArrayOfDefaultTypeAndValue" />
  <xs:complexType name="DefaultTypeAndValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="DefaultType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefaultValue" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DefaultTypeAndValue" nillable="true" type="tns:DefaultTypeAndValue" />
</xs:schema>