WebPayments/App_WebReferences/AutomaticDeductionsService/AutomaticDeductions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AutomaticDeductions" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://netgateway/Settlements/AutomaticDeductionsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://netgateway/Settlements/AutomaticDeductionsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://netgateway/Settlements/AutomaticDeductionsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Transport_Depot_AutomaticDeductions" />
      <xsd:import schemaLocation="http://netgateway/Settlements/AutomaticDeductionsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAutomaticDeductions_GetCommissionsToChange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommissionsToChange" />
  </wsdl:message>
  <wsdl:message name="IAutomaticDeductions_GetCommissionsToChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommissionsToChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IAutomaticDeductions_SaveCommissionsToChange_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCommissionsToChange" />
  </wsdl:message>
  <wsdl:message name="IAutomaticDeductions_SaveCommissionsToChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCommissionsToChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IAutomaticDeductions_GetLessorDefaults_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLessorDefaults" />
  </wsdl:message>
  <wsdl:message name="IAutomaticDeductions_GetLessorDefaults_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLessorDefaultsResponse" />
  </wsdl:message>
  <wsdl:message name="IAutomaticDeductions_SaveLessorsDefaults_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveLessorsDefaults" />
  </wsdl:message>
  <wsdl:message name="IAutomaticDeductions_SaveLessorsDefaults_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveLessorsDefaultsResponse" />
  </wsdl:message>
  <wsdl:message name="IAutomaticDeductions_GetDefaultTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultTypes" />
  </wsdl:message>
  <wsdl:message name="IAutomaticDeductions_GetDefaultTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IAutomaticDeductions_AddDefaultValue_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDefaultValue" />
  </wsdl:message>
  <wsdl:message name="IAutomaticDeductions_AddDefaultValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDefaultValueResponse" />
  </wsdl:message>
  <wsdl:portType name="IAutomaticDeductions">
    <wsdl:operation name="GetCommissionsToChange">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutomaticDeductions/GetCommissionsToChange" message="tns:IAutomaticDeductions_GetCommissionsToChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutomaticDeductions/GetCommissionsToChangeResponse" message="tns:IAutomaticDeductions_GetCommissionsToChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCommissionsToChange">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutomaticDeductions/SaveCommissionsToChange" message="tns:IAutomaticDeductions_SaveCommissionsToChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutomaticDeductions/SaveCommissionsToChangeResponse" message="tns:IAutomaticDeductions_SaveCommissionsToChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLessorDefaults">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutomaticDeductions/GetLessorDefaults" message="tns:IAutomaticDeductions_GetLessorDefaults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutomaticDeductions/GetLessorDefaultsResponse" message="tns:IAutomaticDeductions_GetLessorDefaults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveLessorsDefaults">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutomaticDeductions/SaveLessorsDefaults" message="tns:IAutomaticDeductions_SaveLessorsDefaults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutomaticDeductions/SaveLessorsDefaultsResponse" message="tns:IAutomaticDeductions_SaveLessorsDefaults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutomaticDeductions/GetDefaultTypes" message="tns:IAutomaticDeductions_GetDefaultTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutomaticDeductions/GetDefaultTypesResponse" message="tns:IAutomaticDeductions_GetDefaultTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDefaultValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutomaticDeductions/AddDefaultValue" message="tns:IAutomaticDeductions_AddDefaultValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutomaticDeductions/AddDefaultValueResponse" message="tns:IAutomaticDeductions_AddDefaultValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAutomaticDeductions" type="tns:IAutomaticDeductions">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCommissionsToChange">
      <soap:operation soapAction="http://tempuri.org/IAutomaticDeductions/GetCommissionsToChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCommissionsToChange">
      <soap:operation soapAction="http://tempuri.org/IAutomaticDeductions/SaveCommissionsToChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLessorDefaults">
      <soap:operation soapAction="http://tempuri.org/IAutomaticDeductions/GetLessorDefaults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveLessorsDefaults">
      <soap:operation soapAction="http://tempuri.org/IAutomaticDeductions/SaveLessorsDefaults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultTypes">
      <soap:operation soapAction="http://tempuri.org/IAutomaticDeductions/GetDefaultTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDefaultValue">
      <soap:operation soapAction="http://tempuri.org/IAutomaticDeductions/AddDefaultValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutomaticDeductions">
    <wsdl:port name="BasicHttpBinding_IAutomaticDeductions" binding="tns:BasicHttpBinding_IAutomaticDeductions">
      <soap:address location="http://netgateway/Settlements/AutomaticDeductionsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>