WebPayments/App_WebReferences/SettlementsService/Settlements3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Transport_Depot_WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Transport_Depot_WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://netgateway/Settlements/Settlements.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Transport_Depot_WCF.Settlements" />
  <xs:complexType name="Lessor">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Transport_Depot_WCF.Settlements" minOccurs="0" name="Address" nillable="true" type="q1:Address" />
      <xs:element minOccurs="0" name="LessorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lessor" nillable="true" type="tns:Lessor" />
  <xs:complexType name="ArrayOfLessor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lessor" nillable="true" type="tns:Lessor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLessor" nillable="true" type="tns:ArrayOfLessor" />
</xs:schema>